.third{
    height:200px;
    padding-top: 20px;
    border-top: 1px solid gray;
    background-color: #ffffff;
}
.second{
    height: 400px;
    background-color: #ffffff;
    overflow:scroll;
    scroll-behavior: smooth;
}