<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
      
        <div class="second">
            <router-outlet></router-outlet>   
        </div> 

        <div class="third">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">Tab1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tab2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tab3</a>
            </li>
          </ul>
        </div>
       
      
    </div>
   
</div>

